
<mat-toolbar class="miToolbar">
    <span><mat-icon>smart_toy</mat-icon> Sala de juegos</span>
    <span  class = "espaciador" ></span>
    <button routerLink="home" routerLinkActive="active-route" mat-button class="miButton"> Home </button>
    <button *ngIf="this.logout" routerLink="login" routerLinkActive="active-route" mat-button class="miButton"> Login </button>
    <button *ngIf="!this.logout" (click)="logout()" mat-button class="miButton"> Cerrar sesión </button>
    <button routerLink="about" routerLinkActive="active-route" mat-button class="miButton"> Sobre mi </button>
  
  </mat-toolbar>
