.container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    width: 100%;
    background-image: url("/assets/Imagen/fondo.jpg");
}

.card {
  max-width: 600px;
  width: 100%; 
  margin: 0 auto; 
}

mat-card-header{
    color:#6c53e7;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5px;
}

.content-container {
  display: flex;
  align-items: center;
  
}

.image-container {
  width: 200px; 
  height: 200px; 
  margin-right: 20px; 
  border-radius: 10%;
}

.rounded-image {
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
}

.text-container {
  flex: 1; 
  color: #6d2cdd;
  text-align: center;
}

mat-card-actions {
  justify-content: flex-end; 
}

mat-card-actions button {
  margin-left: 10px; 
}
p{
    padding: 20px;
    color: rgb(68, 68, 74);
    
}