  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Sobre Mi...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <div class="image-container">
            <img  mat-card-image src="assets\Imagen\imgSobreMi.jpeg" class="rounded-image">
          </div>
          <div class="text-container">
            <mat-card-title>Solange Correa</mat-card-title>
            <p>Soy estudiante de la UTN de Avellaneda. <br>Mi juego es "..." <br>Tengo 29 años, me gusta leer y programar.</p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Home
          </button>
      </mat-card-actions>
    </mat-card>
  </div>